<div>
  <p>
    <%= current_year %>, Hariton Nilov, checkout
    <%= github_url('Harritone', 'rails-test-guru') %>
    for more information. Learn-project at bootcamp
    <%= link_to 'Thinknetica', 'https://thinknetica.com' %>
  </p>
</div>