<nav class="main-nav">
  <div class="main-nav__logo">
    <%= link_to 'Test Guru Project', root_path, class: 'main-nav__logo-item' %>
  </div>
  <ul class="main-nav__links">
    <li class="main-nav__item">
      <%= link_to 'Sign up', new_user_registration_path, class: 'main-nav__link' %>
    </li>
    <li class="main-nav__item">
      <%= link_to 'Sign in',  new_user_session_path, class: 'main-nav__link' %>
    </li>
    <% if current_user %>
      <li class="main-nav__item">
        <%= link_to 'logout', destroy_user_session_path, method: :delete, class: 'main-nav__link' %>
      </li>
    <% end %>
  </ul>
</nav>
<hr />
