<div class="progress mb-2">
  <div class="progress-bar" id="progress-bar" data-progress="<%= resource.passage_percentage %>" aria-valuemax="100">
    <%= resource.passage_percentage %>%
  </div>
</div>