<h1>The <%= @taken_quiz.quiz.title %> Quiz was completed!</h1>
<h2>Your result is <span class="<%= passage_percentage_class(@taken_quiz) %>"><%= @taken_quiz.success_percentage %>%</span></h2>
<p>
  <%= link_to 'Back to quizzes', quizzes_path %>
</p>
